.grid {
  background-color: #efefef;
  padding: 1rem;
  min-height: 100px;
  min-width: 300px;
  border-radius: 0.5rem;
}

.controls {
  display: flex;
  flex-direction: column;
}

.controls, .control-container { 
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
}